:root{
    --primary-color: #17476E;
}

/* body{
    background-color: transparent;
} */
input, select{
    outline: 2px solid var(--primary-color);
}

.lot{
    background-image: url(../Assets/Rectangle\ 7\ \(1\).png);
    background-size: cover;
}

h3, h1, .est, footer{
    color: var(--primary-color) !important;
}

.btn{
    background-color: var(--primary-color);
}