.establish {
  background-image: url(../Assets/Rectangle\ 7.png);
  /* height: 30vh; */
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #fff;
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

.btn-1 {
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: rgb(53, 52, 52);
  border-radius: 30px;
  transition: .5s;
}

.container {
  position: relative;
  width: 20%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {

  color: black;
  font-size: 5rem;
  padding: 16px 32px;
}



/* .image{
    width: 100%;
} */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Style for the toggle container */
.toggle-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 200px !important;

}

/* Style for the input checkbox */
.toggle-checkbox {
  display: none;
}

/* Style for the toggle switch */
.toggle-switch {
  width: 40rem;
  height: 55px;
  background-color: #ccc;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

/* Style for the toggle switch when it's on */
.toggle-checkbox:checked+.toggle-switch {
  background-color: #ccc;
  /* green color */
}

/* Style for the toggle knob */
.toggle-knob {
  width: 250px;
  height: 49px;
  background-color: #fff;
  border-radius: 29px;
  position: absolute;
  top: 3px;
  left: 1px;
  transition: transform 0.3s ease;
}

/* Style for the toggle knob when it's on */
.toggle-checkbox:checked+.toggle-switch .toggle-knob {
  transform: translateX(24.3rem);
}

.establishment {
  position: absolute;
  /* z-index: 1; */
  top: 4px;
  left: 10px;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.rider {
  position: absolute;
  /* z-index: 1; */
  top: 4px;
  left: 30rem;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}


@media screen and (max-width:700px) {
  .text {

    color: black;
    font-size: 5rem !important;
    padding: 16px 32px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: relative;
    width: 70%;
    margin-top: 1rem;
  }

  .toggle-switch {
    width: 30rem;
    height: 55px;
    background-color: #ccc;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    margin-right:20px ;
  }

  .establishment {
    position: absolute;
    /* z-index: 1; */
    top: 8px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .rider {
    position: absolute;
    /* z-index: 1; */
    top: 4px;
    left: 22rem;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .toggle-checkbox:checked+.toggle-switch .toggle-knob {
    transform: translateX(14.3rem);
  }
  
}

@media screen and (max-width:806px){
  .toggle-switch {
    width: 20rem;
    height: 55px;
    background-color: #ccc;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    margin-left: 8rem;
  }

  .toggle-knob {
    width: 152px;
    height: 49px;
    background-color: #fff;
    border-radius: 29px;
    position: absolute;
    top: 3px;
    left: 1px;
    transition: transform 0.3s ease;
  }

  .establishment {
    position: absolute;
    /* z-index: 1; */
    top: 13px;
    left: 8.3rem;
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .rider {
    position: absolute;
    /* z-index: 1; */
    top: 13px;
    left: 22.3rem;
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .toggle-checkbox:checked+.toggle-switch .toggle-knob {
    transform: translateX(10.3rem);
  }
}

@media screen and (max-width:506px){
  .toggle-switch {
    width: 20rem;
    height: 55px;
    background-color: #ccc;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    margin-left: 11rem !important;
    margin-right: 11rem !important;
  }

  .toggle-knob {
    width: 152px;
    height: 49px;
    background-color: #fff;
    border-radius: 29px;
    position: absolute;
    top: 3px;
    left: 1px;
    transition: transform 0.3s ease;
  }

  .establishment {
    position: absolute;
    /* z-index: 1; */
    top: 17px;
    left: 12.3rem;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .rider {
    position: absolute;
    /* z-index: 1; */
    top: 13px;
    left: 25.3rem;
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .toggle-checkbox:checked+.toggle-switch .toggle-knob {
    transform: translateX(10.3rem);
  }
}

@media screen and (max-width:436px){
  .toggle-switch {
    width: 20rem;
    height: 55px;
    background-color: #ccc;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    margin-left:10rem !important;
   
  }

  .toggle-knob {
    width: 152px;
    height: 49px;
    background-color: #fff;
    border-radius: 29px;
    position: absolute;
    top: 3px;
    left: 1px;
    transition: transform 0.3s ease;
  }

  .establishment {
    position: absolute;
    /* z-index: 1; */
    top: 17px;
    left: 12.3rem;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .rider {
    position: absolute;
    /* z-index: 1; */
    top: 13px;
    left: 25.3rem;
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .toggle-checkbox:checked+.toggle-switch .toggle-knob {
    transform: translateX(10.3rem);
  }
}