:root{
    --primary-color: #17476E;
}

.container-fluid{
    font-family: poppins;
    font-weight: 700;
}

.owner-bg{
    background-image: url(../Assets/Rectangle\ 7.png);
    background-size: cover;

}

.plates{
    background-color: var(--primary-color);
}

