.register{
    background-image: url(../Assets/Overlay\ \(1\).png);
    background-size: cover;
    font-family: 'poppins';
    font-weight: 400;
    min-height: 100vh;
}
:root{
    --primary-color: #17476E;
}

.butn-bg{
background-color: var(--primary-color);
}

.text-color{
    color: var(--primary-color);
    font-size: 500;
    outline: none !important;
    border: none !important;
}
/* .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */