:root{
    --primary-color: #17476E;
}

.login{
    font-family: poppins;
    background-image: url(../Assets/Overlay\ \(1\).png);
    background-size: cover;
}

.head{
    color: var(--primary-color) !important; 
    font-family: poppins;
}