:root{
    --primary-color:#17476E;
    --secondary-color: red;
}

.container{
    margin: 0px !important;
}

input, select, .numero{
    outline: 2px solid var(--primary-color) !important;
}

body{
    font-family: poppins;
    background-color: white;
}

.save{
    background-color: var(--primary-color) !important;
}


.add{
    background-image:url(../Assets/Rectangle\ 7.png) ;
    background-size: cover;
    background-position: center;
    max-height: 80vh !important;
    width: 100%;
    margin:0px;
}

@media screen and (min-width:989px) {
    .add{
        background-image:url(../Assets/Rectangle\ 7.png) ;
        background-size: cover;
        background-position: center;
        min-height: 40vh !important;
        width: 100%;
        margin:0px;
    }
}